carousel img { 
   height: 300px;
   object-fit: cover;
}

body {
   background: linear-gradient(135deg, #00c2c7, #0077b6);
   color: #000;
   font-family: 'segoe UI' Tahoma, sans-serif;

}

form {
   background-color: #ffffffcc;
   border-radius: 15px;
}

.btn-primary {
   background-color: #0077b6;
   border-color: #005f8a;
}
.btn-primary:hover {
   background-color: #ff0000;
   border-color: #880000;
}

footer {
   background-color: #000;
   color: #fff;
}

.bg-gradient {
   background: linear-gradient(90deg, #006d77, #00b4d8);
   box-shadow: 0px 4px 8px,rgba(0, 0, 0, 0.3);
}

.navbar-brand {
   font-family: 'poppins', sans-serif;
   font-size: 1.5rem;
   letter-spacing: 1px;
   text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.nav-link {
   font-size: 1.1rem;
   margin: 0 10px;
   transition: 0.3;
}

.nav-link:hover {
   color: #fffae6 !important;
   text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

.navbar {
   position: sticky;
   top: 0;

   z-index: 1000;

   opacity: 0.95;

   backdrop-filter: blur(6px);
}

#snowCanvas {
   position: fixed;

   top: 0;
   left: 0;

   pointer-events: none;

   z-index: 9999;
}